<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test" preserve-order="true">
    <classes>
      <class name="com.bookshare.test.utility.StringUtilTest"/>
      <class name="com.bookshare.test.controller.RemoteServerTest"/>
      <class name="com.bookshare.test.controller.BookBackendTest"/>
      <class name="com.bookshare.test.controller.UserBookshelfTest"/>
      <class name="com.bookshare.test.controller.LoginTest"/>
      <class name="com.bookshare.test.controller.AppPortalTest"/>
      <class name="com.bookshare.test.controller.DemandRespondTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
